.widget.comment {
  padding: 15px;
}
.widget.comment header {
  border-bottom: 2px solid #f1f1f1;
}
.widget.comment header .title {
  font-size: 16px;
  border-bottom: 3px solid #51aded;
  display: inline-block;
  margin: 0;
  padding: 0 0 10px;
  position: relative;
  bottom: -2px;
}
.widget.comment main .recentcomments {
  list-style-type: none;
  padding-left: 50px;
  padding-top: 15px;
}
.widget.comment main .recentcomments .comment-item {
  position: relative;
  padding: 10px;
}
.widget.comment main .recentcomments .comment-img {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0.125rem 1.0625rem 0 rgba(0, 0, 0, 0.1);
}
.widget.comment main .recentcomments .comment-img img {
  width: 100%;
  height: 100%;
}
.widget.comment main .recentcomments .comment-detail p {
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.widget.comment main .recentcomments .comment-name {
  color: #848484;
  margin-bottom: 0px;
}
.widget.comment main .recentcomments .comment-name samp {
  margin-left: 8px;
}
.widget.comment main .recentcomments .comment-name samp a {
  margin-left: 6px;
}
.widget.comment main .recentcomments .comment-content {
  line-height: 30px;
}
