.widget {
  background-color: #fff;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.widget.auto {
  padding-bottom: 15px;
}
.widget.auto .bg {
  height: 100px;
  background-image: linear-gradient(to top left, #37ecba 0%, #72afd3 100%);
}
.widget.auto .info {
  text-align: center;
  position: relative;
  z-index: 4;
}
.widget.auto .info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -40px;
  border: 4px solid #f1f1f1;
}
.widget.auto .info p {
  margin: 15px 0;
}
.widget.comment {
  padding: 15px;
}
.widget.comment header {
  border-bottom: 2px solid #f1f1f1;
}
.widget.comment header .title {
  font-size: 16px;
  border-bottom: 3px solid #51aded;
  display: inline-block;
  margin: 0;
  padding: 0 0 10px;
  position: relative;
  bottom: -2px;
}
.widget.comment main .recentcomments {
  list-style-type: none;
  padding-left: 50px;
  padding-top: 15px;
}
.widget.comment main .recentcomments .comment-item {
  position: relative;
  padding: 10px;
}
.widget.comment main .recentcomments .comment-img {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0.125rem 1.0625rem 0 rgba(0, 0, 0, 0.1);
}
.widget.comment main .recentcomments .comment-img img {
  width: 100%;
  height: 100%;
}
.widget.comment main .recentcomments .comment-detail p {
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.widget.comment main .recentcomments .comment-name {
  color: #848484;
  margin-bottom: 0px;
}
.widget.comment main .recentcomments .comment-name samp {
  margin-left: 8px;
}
.widget.comment main .recentcomments .comment-name samp a {
  margin-left: 6px;
}
.widget.comment main .recentcomments .comment-content {
  line-height: 30px;
}
.widget.tabs {
  padding: 15px 15px 0;
}
.widget.tabs .tab-ul {
  border-bottom: 2px solid #ddd;
  position: relative;
}
.widget.tabs .tab-ul li {
  text-align: center;
  display: inline-block;
  padding-bottom: 8px;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  cursor: pointer;
  color: #333;
}
.widget.tabs .tab-ul li.active {
  color: #000;
  border-bottom-color: #51aded;
}
.widget.tabs .tab-content {
  min-height: 260px;
}
.widget.tabs .tab-content > li {
  display: none;
}
.widget.tabs .tab-content > li.active {
  display: block;
}
.widget.tabs .tab-content > li .tab-item > li {
  margin: 6px 0;
  padding: 8px 0;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px dashed #999;
}
.widget.tabs .tab-content > li .tab-item > li a {
  color: #666;
}
.widget.tabs .tab-content > li .tab-item > li a:hover {
  color: #333;
  text-decoration: none;
}
.widget.tabs .tab-content > li .tab-item > li:last-child {
  border-bottom-width: 0;
}
.widget.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
