.widget.tabs {
  padding: 15px 15px 0;
}
.widget.tabs .tab-ul {
  border-bottom: 2px solid #ddd;
  position: relative;
}
.widget.tabs .tab-ul li {
  text-align: center;
  display: inline-block;
  padding-bottom: 8px;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  cursor: pointer;
  color: #333;
}
.widget.tabs .tab-ul li.active {
  color: #000;
  border-bottom-color: #51aded;
}
.widget.tabs .tab-content {
  min-height: 260px;
}
.widget.tabs .tab-content > li {
  display: none;
}
.widget.tabs .tab-content > li.active {
  display: block;
}
.widget.tabs .tab-content > li .tab-item > li {
  margin: 6px 0;
  padding: 8px 0;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px dashed #999;
}
.widget.tabs .tab-content > li .tab-item > li a {
  color: #666;
}
.widget.tabs .tab-content > li .tab-item > li a:hover {
  color: #333;
  text-decoration: none;
}
.widget.tabs .tab-content > li .tab-item > li:last-child {
  border-bottom-width: 0;
}
.widget.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
