#sform {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://acg.moedragon.com/api.php);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
