/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #f1f1f1;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #aaa;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, opensans, Optima, "Microsoft Yahei", sans-serif;
  background-color: #f5f5f5;
}
#header {
  background: rgba(40, 42, 44, 0.6);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar-default {
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  margin: 0 -15px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(120, 120, 120, 0.6);
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}
.navbar-nav {
  margin: 0;
}
.nav > li {
  text-align: center;
}
.logo {
  margin-top: 0px;
  overflow: hidden;
  min-height: 100px;
  padding: 120px 0 100px;
  background-color: #71c0ee;
  background-image: url(https://img.fczbl.vip/images/2018/12/24/site_head.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 2px 2px 2px #888;
}
.logo h1 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: bold;
}
.logo p {
  font-size: 24px;
}
@media (max-width: 768px) {
  .logo {
    padding: 80px 0 60px;
    background-image: url(https://img.fczbl.vip/images/2018/08/02/68488621.jpg);
  }
  .logo h1 {
    font-size: 30px;
  }
  .logo p {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
}
#main {
  margin-top: 20px;
}
#copyandinfo {
  margin-top: 15px;
  min-height: 50px;
  background: #23282d;
  text-align: center;
  overflow: hidden;
}
#copyandinfo p {
  margin: 15px 0;
  font-size: 14px;
  color: #878787;
}
#copyandinfo p a {
  color: #aaa;
  font-weight: 600;
  transition: all .9s;
}
#copyandinfo p a:hover {
  color: #51aded;
  text-decoration: none;
}
.pagination,
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > li > a:focus,
.pagination > li > a:hover {
  border-color: #51aded;
  background-color: #51aded;
  color: #fff !important;
}
.pagination > li > a {
  margin: 0 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all .8s;
  padding: 6px 12px;
}
.comments {
  margin-bottom: 15px;
}
.comments header {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 15px;
}
.comments header h1 {
  font-size: 26px;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;
  font-weight: bold;
}
.comments header p {
  margin: 15px 0;
}
.comments-form {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}
.comments-form .form-btn {
  border-radius: 0;
  color: #fff;
  background-color: #15b9fa;
  transition: all .6s;
}
.comments-form .form-btn:hover {
  background-color: #393e46;
}
.comments-form .form-textarea {
  background-color: transparent;
}
.comments-form > h4 {
  color: #444;
}
.comments-form > p {
  color: #888;
}
.comments-form .form-control {
  box-shadow: none;
}
.comments-form .input-group-addon:first-child,
.comments-form textarea.form-control,
.comments-form .input-group .form-control:last-child,
.comments-form .input-group-addon:last-child,
.comments-form .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.comments-form .input-group-btn:first-child > .btn:not(:first-child),
.comments-form .input-group-btn:last-child > .btn,
.comments-form .input-group-btn:last-child > .btn-group > .btn,
.comments-form .input-group-btn:last-child > .dropdown-toggle {
  border-radius: 0;
}
.comments .comment-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.comments .comment-item {
  background-color: #fff;
  margin: 0;
  margin-bottom: 15px;
  min-height: 80px;
  box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1);
  padding: 15px;
  position: relative;
}
.comments .comment-item.active {
  box-shadow: 0px 2px 2px 2px rgba(100, 0, 0, 0.1);
}
.comments .comment-item:hover .comment-action {
  display: block;
  animation-name: reply_a;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.comments .comment-content {
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 15px;
}
.comments .comment-content > .at {
  background-color: #f8f8f8;
  padding: 4px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  font-size: 14px;
  color: #51aded;
  cursor: pointer;
}
.comments .comment-action {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20;
  margin: 15px;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 4px 8px;
  display: none;
  opacity: 0;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}
@keyframes reply_a {
  to {
    display: block;
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
.links {
  background-color: #fff;
  margin-bottom: 15px;
  min-height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.links header {
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  margin: 30px 0 15px;
}
.links header h1 {
  font-size: 20px;
  background-color: #f8f8f8;
  border-left: 4px solid #51aded;
  padding: 10px 0;
  margin: 0;
  font-weight: 600;
}
.links header p {
  margin: 15px 0;
  color: #888;
}
.links main {
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden;
}
.links main > p {
  margin-left: 15px;
  font-size: 16px;
}
.links main ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  overflow: hidden;
}
.links main ul li {
  float: left;
  width: 50%;
  padding: 0 15px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 90px;
  height: 90px;
  overflow: hidden;
  transition: all .6s;
}
.links main ul li:hover {
  background-color: rgba(230, 244, 250, 0.5);
}
.links main ul li:hover .link-name {
  color: #51aded;
}
.links main ul li a {
  display: block;
}
.links main ul li a:hover {
  text-decoration: none;
}
.links main ul li .link-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 15px;
}
.links main ul li .link-img img {
  width: 100%;
  height: 100%;
}
.links main ul li .link-detail {
  color: #666;
}
.links main ul li .link-name {
  font-size: 18px;
  line-height: 1.4;
  margin: 15px 0 8px;
  color: #333;
  transition: all .6s;
}
.links main ul li .link-content {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.article {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition: all .8s;
}
.article:hover {
  box-shadow: 0 8px 15px rgba(146, 146, 146, 0.39);
}
.article:hover .img img {
  transform: scale(1.2);
}
.article .content {
  padding: 20px;
  min-height: 145px;
  box-sizing: content-box;
}
.article .content .img {
  height: 145px;
  border: 1px solid #f6f6f6;
  overflow: hidden;
}
.article .content .img img {
  width: 100%;
  height: 100%;
  transition: all .8s;
}
@media (max-width: 992px) {
  .article .content .img {
    height: auto;
  }
}
.article .content .detail {
  height: 145px;
  overflow: hidden;
}
.article .content .detail-title {
  width: 100%;
}
.article .content .detail-title .part {
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #51aded;
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.article .content .detail-title .part::after {
  content: "";
  position: absolute;
  top: 6px;
  z-index: 0;
  right: -10px;
  border: 6px solid #51aded;
  border-color: transparent transparent transparent #51aded;
}
.article .content .detail-title .part a {
  color: #fff;
  display: block;
}
.article .content .detail-title .title {
  display: inline-block;
  line-height: 40px;
  margin: 0;
}
.article .content .detail-title .title a {
  color: #333;
  transition: all 1s;
}
.article .content .detail-title .title a:hover {
  text-decoration: none;
  color: #51aded;
}
.article .content .detail-content p {
  line-height: 1.8;
  font-size: 15px;
  color: #555;
}
.article .info {
  border-top: 1px solid #f3f3f3;
  padding: 6px 15px;
}
.article .info span {
  margin-right: 15px;
  color: #666;
  vertical-align: center;
  font-size: 12px;
}
.article .info span i {
  color: #888;
  font-size: 12px;
}
.article .info span samp {
  margin-left: 4px;
}
.hentry {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.hentry h1 {
  margin: 6px 0 15px;
  font-size: 18px;
}
.hentry h1 span {
  font-weight: bold;
  color: #51aded;
}
.hentry p {
  padding-top: 6px;
}
#sform {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://acg.moedragon.com/api.php);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-con {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 200px auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 8px 15px rgba(146, 146, 146, 0.39);
  overflow: hidden;
}
@media (max-width: 768px) {
  .form-con {
    width: 96%;
    margin-top: 100px;
  }
}
.form-con h1 {
  margin: 0;
  font-size: 24px;
  color: #000;
  margin-top: 15px;
}
.form-con form {
  margin-top: 30px;
}
.form-con .input,
.form-con button {
  width: 100%;
  height: 44px;
  font-size: 14px;
}
.form-con .input {
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c1c1c1;
  line-height: 24px;
  background-color: transparent;
}
.form-con .input.err {
  border-color: #ff6fa2;
}
.form-con .input:focus {
  border-color: #888;
  outline: 0;
  box-shadow: 0 0px 1px 1px rgba(146, 146, 146, 0.25);
}
.form-con button {
  color: #fff;
  background-color: #37ecba;
  background-image: linear-gradient(to top left, #37ecba 0%, #72afd3 100%);
  border: none;
  border-radius: 4px;
  font-weight: bold;
}
.form-con button:hover {
  background-image: linear-gradient(to top left, #24f1b7 0%, #4aa9e0 100%);
}
.form-con button:focus {
  outline: 0;
}
.form-con .code {
  color: #ddd;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  cursor: pointer;
}
.form-box {
  margin-bottom: 30px;
  position: relative;
}
.form-info {
  margin: 0;
  margin-left: 4px;
  color: #ff6fa2;
  display: none;
  position: absolute;
  bottom: -22px;
}
.form-o {
  display: flex;
  justify-content: space-between;
}
.widget {
  background-color: #fff;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.widget.auto {
  padding-bottom: 15px;
}
.widget.auto .bg {
  height: 100px;
  background-image: linear-gradient(to top left, #37ecba 0%, #72afd3 100%);
}
.widget.auto .info {
  text-align: center;
  position: relative;
  z-index: 4;
}
.widget.auto .info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -40px;
  border: 4px solid #f1f1f1;
}
.widget.auto .info p {
  margin: 15px 0;
}
.widget.comment {
  padding: 15px;
}
.widget.comment header {
  border-bottom: 2px solid #f1f1f1;
}
.widget.comment header .title {
  font-size: 16px;
  border-bottom: 3px solid #51aded;
  display: inline-block;
  margin: 0;
  padding: 0 0 10px;
  position: relative;
  bottom: -2px;
}
.widget.comment main .recentcomments {
  list-style-type: none;
  padding-left: 50px;
  padding-top: 15px;
}
.widget.comment main .recentcomments .comment-item {
  position: relative;
  padding: 10px;
}
.widget.comment main .recentcomments .comment-img {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0.125rem 1.0625rem 0 rgba(0, 0, 0, 0.1);
}
.widget.comment main .recentcomments .comment-img img {
  width: 100%;
  height: 100%;
}
.widget.comment main .recentcomments .comment-detail p {
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.widget.comment main .recentcomments .comment-name {
  color: #848484;
  margin-bottom: 0px;
}
.widget.comment main .recentcomments .comment-name samp {
  margin-left: 8px;
}
.widget.comment main .recentcomments .comment-name samp a {
  margin-left: 6px;
}
.widget.comment main .recentcomments .comment-content {
  line-height: 30px;
}
.widget.tabs {
  padding: 15px 15px 0;
}
.widget.tabs .tab-ul {
  border-bottom: 2px solid #ddd;
  position: relative;
}
.widget.tabs .tab-ul li {
  text-align: center;
  display: inline-block;
  padding-bottom: 8px;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  cursor: pointer;
  color: #333;
}
.widget.tabs .tab-ul li.active {
  color: #000;
  border-bottom-color: #51aded;
}
.widget.tabs .tab-content {
  min-height: 260px;
}
.widget.tabs .tab-content > li {
  display: none;
}
.widget.tabs .tab-content > li.active {
  display: block;
}
.widget.tabs .tab-content > li .tab-item > li {
  margin: 6px 0;
  padding: 8px 0;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px dashed #999;
}
.widget.tabs .tab-content > li .tab-item > li a {
  color: #666;
}
.widget.tabs .tab-content > li .tab-item > li a:hover {
  color: #333;
  text-decoration: none;
}
.widget.tabs .tab-content > li .tab-item > li:last-child {
  border-bottom-width: 0;
}
.widget.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#Snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(225, 225, 225, 0.1);
  pointer-events: none;
}
.user {
  padding-left: 60px;
  position: relative;
  height: 90px;
  overflow: hidden;
}
.user-img {
  position: absolute;
  top: 15px;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img {
  width: 100%;
  height: 100%;
}
.user-name {
  margin: 15px 0 0;
  padding: 0;
  font-size: 16px;
}
.user-content {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
.color-red {
  color: #f00;
}
#actions {
  position: fixed;
  z-index: 4;
  right: 3%;
  bottom: 4%;
}
#actions .black {
  height: 40px;
  background-color: rgba(40, 42, 44, 0.6);
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: auto;
}
#actions .black i {
  width: 40px;
  height: 40px;
  line-height: 38px;
  z-index: 4;
  float: left;
  padding: 0;
}
#actions .backtop {
  display: none;
  width: 40px;
}
#actions .search {
  position: relative;
  overflow: hidden;
}
#actions .search-form {
  display: none;
  float: left;
  right: 40px;
  bottom: 0;
  height: 40px;
  width: 160px;
}
#actions .search-form input {
  color: #f1f1f1;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border: none;
  background-color: rgba(40, 42, 44, 0.6);
  padding: 0 4px;
  font-size: 14px;
  line-height: 36px;
}
#actions .search-form input:focus {
  outline: none;
}
#actions .search-form input::placeholder {
  color: #ddd;
}
.modal-content {
  padding: 15px;
  border-radius: 4px;
  color: #51aded;
  font-weight: bold;
}
