<div id="actions">
  <div class="backtop black">
    <i class="glyphicon glyphicon-chevron-up"></i>
  </div>
  <div class="search black">
    <i class="glyphicon glyphicon-search"></i>
    <form class="search-form" action="/search">
      <input type="text" name="keyword" placeholder="请输入搜索内容">
    </form>
  </div>
</div>