<div class="comments">

  <div id="commentContainer">
    <div class="comments-form" id="commentForm">
      <h4>发表评论</h4>
      <p>电子邮件地址不会被公开。必填项已用 * 标注</p>
      <form action="" method="post">
        <div class="form-group">
          <textarea name="content" rows="5" placeholder="来都来了，不留下点东西吗，XIAOLAODI (。・∀・)ノ" class="form-control form-textarea"></textarea>
        </div>
        <div class="form-group">
          <label class="sr-only">昵称</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <input type="text" class="form-control" placeholder="昵称">
            <span class="form-control-feedback required">*</span>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only">邮箱</label>
          <div class="input-group">
            <div class="input-group-addon">
              @
            </div>
            <input type="text" class="form-control" placeholder="邮箱">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only">链接</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-link"></i>
            </div>
            <input type="text" class="form-control" placeholder="链接">
          </div>
        </div>
        <button type="button" class="btn btn-block form-btn">提交</button>
      </form>
    </div>

  </div>

  <main>
    <ol class="comment-list">
      <li class="comment-item" id="test">

        <div class="user">
          <div class="user-img">
            <img data-src="holder.js/50x50?auto=yes&theme=industrial&text=IMG" alt="">
          </div>
          <div class="user-detail">
            <p class="user-name">泥嚎</p>
            <p class="user-content">2018年12月25日 09:45</p>
          </div>
        </div>
        <div class="comment-content">
          <span class="at" data-anchor="aaaaa">@test</span>感谢大佬，我按照网上说的，改了hosts依然进不去这个网站，必须要梯子才能登陆嘛？
        </div>
        <div class="comment-action">
          回复
        </div>
      </li>
      <li class="comment-item" id="aaaaa">

        <div class="user">
          <div class="user-img">
            <img data-src="holder.js/50x50?auto=yes&theme=industrial&text=IMG" alt="">
          </div>
          <div class="user-detail">
            <p class="user-name">泥嚎</p>
            <p class="user-content">2018年12月25日 09:45</p>
          </div>
        </div>
        <div class="comment-content">
          <span class="at" data-anchor="bbbb">@test</span>
          感谢大佬，我按照网上说的，改了hosts依然进不去这个网站，必须要梯子才能登陆嘛？
        </div>
        <div class="comment-action">
          回复
        </div>

      </li>
      <li class="comment-item" id="bbbb">

        <div class="user">
          <div class="user-img">
            <img data-src="holder.js/50x50?auto=yes&theme=industrial&text=IMG" alt="">
          </div>
          <div class="user-detail">
            <p class="user-name">泥嚎</p>
            <p class="user-content">2018年12月25日 09:45</p>
          </div>
        </div>
        <div class="comment-content">
          <span class="at" data-anchor="test">@test</span>感谢大佬，我按照网上说的，改了hosts依然进不去这个网站，必须要梯子才能登陆嘛？
        </div>
        <div class="comment-action">
          回复
        </div>
      </li>
    </ol>
  </main>

  <nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>