<footer id="copyandinfo">
  <p>&copy; 2019 <a href="">不才、blog</a>. ALL RIGHTS RESERVED. | 本站已运行<span id="timer">1111天07小时45分钟44秒</span></p>
</footer>

<script>
  (function () {
    const startTimestamp = parseInt('<%=startTimestamp%>');

    function a_time(startTime) {
      let endTime = Date.now(); // 结束时间
      let usedTime = endTime - startTime; // 相差的毫秒数
      let days = Math.floor(usedTime / (24 * 3600 * 1000)); // 计算出天数
      let leavel = usedTime % (24 * 3600 * 1000); // 计算天数后剩余的时间
      let hours = Math.floor(leavel / (3600 * 1000)); // 计算剩余的小时数
      let leavel2 = leavel % (3600 * 1000); // 计算剩余小时后剩余的毫秒数
      let minutes = Math.floor(leavel2 / (60 * 1000)); // 计算剩余的分钟数

      return days + '天' + hours + '时' + minutes + '分' + ((usedTime / 1000) | 0) % 60 + '秒';
    }

    setInterval(() => {
      document.getElementById('timer').textContent = a_time(startTimestamp);

    }, 300);
  })();
</script>